[Desktop Entry]
Name=PyCharm-EDITION
Comment=The Most Intelligent Python IDE
Exec=/usr/bin/APPNAME
Terminal=false
Type=Application
StartupNotify=true
Icon=/usr/share/jetbrains/APPNAME/bin/pycharm.png
Categories=Development;IDE;Debugger;Profiling
